{% load i18n modeladmin_tags wagtailadmin_tags wagtailcore_tags static %}
{% block content %}
<p>heloo</p>
<!--p>{% trans 'action' %}: {{ object.action }}</p>
<p>{% trans 'classification' %}: {{ object.classification }}</p>
<p>{% trans 'code' %}: {{ object.code }}</p>
<p>{% trans 'computed' %}: {{ object.computed }}</p>
<p>{% trans 'description' %}: {{ object.description }}</p>
<p>{% trans 'education_results' %}: {{ object.education_results }}</p>
<p>{% trans 'end_date' %}: {{ object.end_date }}</p>
<p>{% trans 'event_results' %}: {{ object.event_results }}</p>
<p>{% trans 'infrastructure_results' %}: {{ object.infrastructure_results }}</p>
<p>{% trans 'institutions' %}: {{ object.institutions }}</p>
<p>{% trans 'keywords' %}: {{ object.keywords }}</p>
<p>{% trans 'link' %}: {{ object.link }}</p>
<p>{% trans 'locations' %}: {{ object.locations }}</p>
<p>{% trans 'measurement' %}: {{ object.measurement }}</p>
<p>{% trans 'policy_results' %}: {{ object.policy_results }}</p>
<p>{% trans 'posterior_record' %}: {{ object.posterior_record }}</p>
<p>{% trans 'practice' %}: {{ object.practice }}</p>
<p>{% trans 'previous_record' %}: {{ object.previous_record }}</p>
<p>{% trans 'raw_data' %}: {{ object.raw_data }}</p>
<p>{% trans 'record_status' %}: {{ object.record_status }}</p>
<p>{% trans 'scope' %}: {{ object.scope }}</p>
<p>{% trans 'seq' %}: {{ object.seq }}</p>
<p>{% trans 'source' %}: {{ object.source }}</p>
<p>{% trans 'start_date' %}: {{ object.start_date }}</p>
<p>{% trans 'thematic_areas' %}: {{ object.thematic_areas }}</p>
<p>{% trans 'title' %}: {{ object.title }}</p>
<p>{% trans 'total' %}: {{ object.total }}</p>
<p>{% trans 'validity' %}: {{ object.validity }}</p-->
{% endblock %}
